:root {
  --Red-: hsl(0, 100%, 74%);
  --Green-: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --DarkBlue-: hsl(249, 10%, 26%);
  --GrayishBlue-: hsl(246, 25%, 77%);
}
* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  max-width: 1440px;
}
body {
  font-family: "Poppins", sans-serif;
}

img {
  max-height: 100%;
  max-width: 100%;
}

/* Typografy */
.col1__title {
  width: 90%;
  color: #fff;
  font-size: 2.5rem;
  padding: 0.5em 0;
}

.col p {
  width: 90%;
  color: #fff;
  padding: 0.1em;
}

#under-button-text {
  width: 80%;
  margin: 0 auto 2em auto;
  font-size: 0.8rem;
  text-align: center;
  color: #000;
  font-weight: 900;
}
.color {
  color: var(--Red-);
  font-weight: 700;
}
.text-white {
  font-weight: 700;
}

/* Reusable class */
.container {
  width: 90%;
  padding: 4em 0;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.col {
  width: 45%;
  margin-right: 0.2em;
}

/* Specific styles */

button {
  outline: none;
}

.formContainer {
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 6px hsl(0, 58%, 66%);
  padding: 0.5em 0;
}

.formContainer form label input {
  width: 90%;
  display: block;
  padding: 1em 1.5em;
  margin: 1.5em auto;
  border-radius: 5px;
  border: 1px solid var(--GrayishBlue-);
}

input[type="text"] {
  outline-color: var(--DarkBlue-);
  outline-width: 1px;
}

#submit-button {
  width: 90%;
  margin: 1em auto;
  display: block;
  padding: 1em;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  text-transform: uppercase;
  background: var(--Green-);
  border: none;
  box-shadow: 0 5px hsl(154, 53%, 42%);
}

.two-cal {
  background: url("images/bg-intro-desktop.png") center center;
  background-color: var(--Red-);
  height: 100vh;
}

#col__button {
  margin-bottom: 1.2em;
  width: 100%;
  text-align: center;
  padding: 1em;
  border-radius: 10px;
  font-weight: 400;
  background: rgb(80, 16, 182);
  color: #fff;
  font-size: 1em;
  box-shadow: 0 6px hsl(0, 58%, 66%);
}
#submit-button:hover,
#col__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.inputBox {
  position: relative;
}

.text {
  display: block;
  text-align: right;
  width: 90%;
  margin: 0.1rem auto 0 auto;
  color: var(--Red-);
  font-size: 0.7rem;
}

/* Mobile view */
@media screen and (max-width: 760px) {
  body {
    min-width: 375px;
  }
  .two-cal {
    height: 100%;
  }
  .col1__title {
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
  }
  .col p {
    width: 90%;
    font-size: 0.8rem;
    margin: 0 auto;
  }
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .col {
    width: 100%;
    text-align: center;
    margin: 1em auto;
  }

  .col1 {
    margin-bottom: 2em;
  }
  #col__button {
    padding: 1.2em;
  }
}
